@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Tomorrow&display=swap');
:root { 
  /* Spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;

   /* Fonts  */
  --titles: 'Tomorrow', sans-serif;
  --body: 'Press Start 2P', cursive;
}

body {
  /* background-image: url('../img/playing-cards.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background: linear-gradient(0deg, rgba(0,0,0,0.9611125700280112) 0%, rgba(251,37,43,1) 35%);
  /* background: linear-gradient(0deg, rgba(0,0,0,0.8182554271708684) 0%, rgba(251,37,43,0.815454306722689) 35%); */
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(251,37,43,0.9374124649859944) 35%, rgba(0,0,0,1) 100%); */
}

body, form {
  font-family: var(--titles);
  line-height: var(--space-xl);
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1, h2, button {
  font-family: var(--body);
}

h2 {
  font-size: 100%;
}

.colorful {
  color: red
}

nav {
  background: black;
  color: white;
  height: 50px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

.nav-title{
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  width: 30%;
  text-align: center;
}

.nav-menu{
  width: 70%;
  color: red;
}

.nav-menu ul{
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-menu ul li {
  padding-right: 10px;
  color: #ccc;
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu ul li:hover{
  color: #fff;
  font-weight: bold;
}

 /*style for responsive menu*/
 /* here*/



 /* Tables */
.power-image-table {
  width: 64px;
  height: 64px;
}

table {
  text-align: center;
}

.char-form__radio-img {
  width: 128px;
  height: 128px;
}
