:root {
  /* Spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;

   /* Fonts  */
  --body: 'Tomorrow', sans-serif;
  --titles: 'Press Start 2P', cursive;
}

/* General */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: red;
  width: 100%;
}

body, form {
  font-family: var(--body);
  line-height: var(--space-xl);
}

/* Titles and buttons */

h1, h2, button {
  font-family: var(--titles);
}

h2 {
  font-size: 1.2rem;
}

.colorful {
  color: red;
}

button {
  cursor: pointer;
}

/* Navbar */

nav {
  background: black;
  color: white;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  width: 30%;
  text-align: center;
}

.nav-menu {
  width: 70%;
  color: red;
}

.nav-menu ul {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-menu ul li {
  padding-right: 10px;
  color: #ccc;
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu ul li:hover {
  color: #fff;
  font-weight: bold;
}

/* Table */

.power-image-table {
  width: 44px;
  height: 44px;
}

th {
  font-family: var(--titles);
}

table {
  text-align: center;
}

.char-form__radio-img {
  width: 64px;
  height: 64px;
}

/* Leaderboard table */

.characters-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  /* max-width: 320px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.characters-table thead tr {
  background-color: black;
  color: red;
}

.characters-table th,
.characters-table td {
  padding: 12px 15px;
}

.characters-table tbody tr {
  border-bottom: 1px solid;
}

.characters-table tbody tr:last-of-type {
  border-bottom: 2px solid;
}

/* Old Character */

.selected-player-field-label {
  font-family: var(--titles);
  font-size: 0.8rem;
}

.player-section {
  margin-bottom: var(--space-m);
}

h3 {
  font-family: var(--titles);
}

/* Form sections */

.form-section {
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  background-color: rgb(0,0,0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  width: 60vw;
  /* max-width: 1000px; */
  color: white
}

.return-form__field,
.char-form__field {
  padding: 10px;
  width: 40vw;
  max-width: 200px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

button {
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  color: red;
  background-color:black;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  body {
    width: 600px;
  }
  .form-section {
    width: 100%;
  }
}
